---
---

@import "{{ site.theme }}";

.outer {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .outer {
    flex-direction: column;
  }
}

.inner {
  width: 80%; /* Adjust as needed */
  margin: 0 auto; /* Centers the content */
}

.toc {
  flex: 1; /* Adjust as needed */
  position: sticky;
  top: 0;
  max-height: 100vh;
  overflow-y: auto;
}

.content {
  flex: 2; /* Adjust as needed */
  margin-left: 20px; /* Adjust as needed */
}

@media screen and (max-width: 600px) {
  .content {
    margin-left: 0;
  }
}

.content-container {
  padding: 10 !important;
  max-width: 75% !important;
}

.pdf-icon {
  width: 50px; /* Adjust as needed */
  height: 50px; /* Adjust as needed */
}
